@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800&family=Amaranth:ital,wght@1,700&family=Fugaz+One&family=Kaushan+Script&family=Lato:wght@100&family=Zen+Dots&display=swap");

body{
    background-color: rgb(20, 20, 20);
    font-family: "Zen Dots", sans-serif;
}
*{
    margin: 0;
  
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
img,.texto,.mapa,.vender,.formularioventas,.for,.grid,.imagenmenu
    h1,
    p,
    .footer1 {
      view-timeline-name: --image;
      view-timeline-axis: block;
  
      animation-timeline: --image;
      animation-name: show;
      animation-range: entry 1% cover 30%;
      animation-fill-mode: both;
    }

    #my-form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 17px;
      text-align: center;
    }

    #my-form input {
      height: 40px;
      width: 250px;
      border-radius: 20px;
      border: none;
      transition-duration: 0.3s;
      cursor: text;
      background-color: rgba(255, 0, 0, 0.3);
      color: #fff;
      list-style: none;
    }
    #my-form input:hover{
      width: 260px;
      transition-duration: 0.3s;
      
    }
    #my-form button{
      margin: 0 auto;
      text-align: center;
      background-color: #00000076;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 20px;
    }
    #TextoGrande{
      height: 100px;
    }
   
    
    #Productsss{
      display: none;
    }
@media (max-width: 768px){
.container1 {
    background:url(../proyecto/imagenesproyecto/buslion.png) no-repeat center;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: end;

}
.container1 h1{
    color: rgb(255, 255, 255);
    width: 250px;
    font-size: 35px;
    margin-left: 30px;
}
.grid a{
  color: #ffffff;
  text-decoration: none;
}
#cerrarHambur{
  background-color: #ff0000c1;
  color: #000000;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.menu-hamburguesa {
  cursor: pointer;
  padding: 15px;
  background-color: #00000049;
  border: none;
  margin-left: 150px;
 
}

.barra {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  
 
}
.grid{
  display: none;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212121f5;
  padding: 15px;
  box-sizing: border-box;
  z-index: 30;
  
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
}


.elimM{
  display: none;
}


.encabezado{
    
  display: flex;
  width: 95%;
  border-color: transparent transparent gray transparent;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-style: solid;
  height: 140px;
  flex-wrap: wrap;
  

}
.item1 img{
width: 80px;
}
.itemimgg img{
    width: 60px;
}
.item2 input {
    height: 30px;
    width: 190px;
    border-radius: 20px;
    border: none;
    transition-duration: 0.3s;
    cursor: text;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    list-style: none;
  }

  .item2 input:placeholder-shown {
    border-color: rgb(255, 255, 255);
    color: rgb(235, 235, 235, 0.5);
    font-family: "Zen Dots", sans-serif;
    font-size: 15px;
  }
  .item2 input:hover{
    width: 220px;
  }
  .quieres h1{
    color: #fff;
    margin-top: 90px;
    margin-left: 30px;
    font-size: 25px;
  }
  .quieres p{
    color: #fff;
    margin-top: 90px;
    margin-left: 30px;
    font-size: 20px ;
  }
  .form-register {
    width: 350px;
    background: #6c6c6c64;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 4px 4px 4px #292929;
    height: 650px;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 95%;
    background: rgba(255, 0, 0, 0.235);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: "Zen Dots", sans-serif;
    font-size: 15px;
    color: white;
    
    
    
  } 
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #d41f1fc6;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .fin3 img{
    display: none;
  }
  .container5 {
    width: 100%;
    height: 200px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.9),rgb(9, 9, 9)),
      url(../proyecto/imagenesproyecto/DRAGONBORN2.jpg) no-repeat center center;
    margin: 0 auto;
    
    font-size: 11px;
  }
  .it2{
    display: none;
  }


  .fin2 {
    width: auto;
    height: 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .fin2 a{
    color: white;
    text-decoration: none;
  }
  
  .fin2 li{
    list-style-type: none;
    
  }
  .finall{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .finall a{
   
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    
  }
  footer h3 a{
    margin: 0 auto;
    width: 100px;
    color: #ffffff;
  }
  .ultimo{
    width: 90%;
    display: flex;
    margin: 30px auto;
  }
  #soloCel{
    display: none;
  }
  #hamburguer{
    display: none;
  }
  #menuHamburguesa{
    display: none;
  }
}

@media (min-width: 768px) and (max-width:1024px){
  #hamburguer{
    display: none;
  }
  #menuHamburguesa{
    display: none;
  }
    .container1 {
        background:url(../proyecto/imagenesproyecto/buslion.png) no-repeat center;
        background-size: cover;
        height: 400px;
        width: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: end;
    
    }
    .container1 h1{
        color: rgb(255, 255, 255);
        width: 450px;
        font-size: 40px;
        margin-left: 30px;
    }
    .encabezado{
        position: absolute;
        display: grid;
        width: 95%;
        border-color: transparent transparent gray transparent;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        border-style: solid;
        height: 100px;
        
    
    }
    .grid a:hover {
        color: #ffffff;
        text-shadow: 0 0 7px #8c8c8c, 0 0 10px #474747, 0 0 21px #888888,
          0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255),
          0 0 151px rgb(255, 255, 255);
      }
    .item1{
        grid-column: 1/2;
      }
      .grid img{
          width: 100px;
         
      }
      .grid{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .item2 input{
      width: 80px;
      grid-column: 2/3;
      }
      .item2 input:hover{
        width: 120px;
      }
      .itemimgg{
        display: none;
      }
      .item3{
        grid-column: 3/4;
      }
      .item4{
        grid-column: 4/5;
      }
      .item5{
        grid-column: 5/6;
      }
      .item6{
        grid-column: 6/7;
      }
      .item7{
        grid-column: 7/8;
      }
      .grid a{
        color: white;
        text-decoration: none;
      }
    
    .item1 img{
    width: 80px;
    }
    .itemimgg img{
        width: 60px;
    }
    .item2 input {
        height: 30px;
        width: 190px;
        border-radius: 20px;
        border: none;
        transition-duration: 0.3s;
        cursor: text;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        list-style: none;
      }
    
      .item2 input:placeholder-shown {
        border-color: rgb(255, 255, 255);
        color: rgb(235, 235, 235, 0.5);
        font-family: "Zen Dots", sans-serif;
        font-size: 15px;
      }
      .item2 input:hover{
        width: 220px;
      }
      .quieres h1{
        color: #fff;
        margin-top: 90px;
        margin-left: 30px;
        font-size: 20px;
        display: none;
      }
      .quieres p{
        color: #fff;
        margin-top: 90px;
        margin-left: 30px;
        font-size: 15px ;
        display: none;
      }
      .form-register {
        width: 340px;
        background: rgba(73, 73, 73, 0.392);
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: "Zen Dots", sans-serif;
        color: white;
        box-shadow: 4px 4px 4px #1c1c1c;
        height: 650px;
      }
      
      .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
      }
      
      .controls {
        width: 95%;
        background: rgba(255, 0, 0, 0.235);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #000000;
        font-family: "Zen Dots", sans-serif;
        font-size: 15px;
        color: white;
        
        
      } 
      .form-register p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
      }
      
      .form-register a {
        color: white;
        text-decoration: none;
      }
      
      .form-register a:hover {
        color: white;
        text-decoration: underline;
      }
      
      .form-register .botons {
        width: 100%;
        background: #d41f1fc6;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
      }
      .fin3 img{
        display: none;
      }
      .container5 {
        width: 100%;
        height: 200px;
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.9),rgb(9, 9, 9)),
          url(../proyecto/imagenesproyecto/DRAGONBORN2.jpg) no-repeat center center;
        margin: 0 auto;
        
        font-size: 11px;
      }
    
      .fin2 {
        width: auto;
        height: 60px;
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
      }
      .fin2 a{
        color: white;
        text-decoration: none;
      }
      
      .fin2 li{
        list-style-type: none;
        
      }
      .finall{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
      }
      .finall a{
       
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 10px;
        
      }
      footer h3 a{
        margin: 0 auto;
        width: 100px;
        color: #ffffff;
      }
      .ultimo{
        width: 90%;
        display: flex;
        margin: 30px auto;
        
      }
      .ultimo p{
        font-size: 30p;
      }
      .container2{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }
      .it2{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        
      }
      .it1{
        grid-column: 2/3;
        grid-row: 1/2;
        
      }
      .it2 h1{
        margin: 15px;
        font-size: 25px;
      }
      .it2 p{
        margin: 20px;
        font-size: 18px;
      }
      .ultimo li a{
        font-size: 17px;
      }
      .header{
        display: none;
    }
    
    
    }
    @media(min-width:1024px) {
        .container1 {
            background:url(../proyecto/imagenesproyecto/buslion.png) no-repeat center;
            background-size: cover;
            height: 650px;
            width: 100%;
            display: flex;
            justify-content:flex-start;
            align-items: end;
        
        }
        .container1 h1{
            color: rgb(255, 255, 255);
            width: 450px;
            font-size: 40px;
            margin-left: 30px;
        }
        .encabezado{
            position: absolute;
            display: grid;
            width: 95%;
            border-color: transparent transparent gray transparent;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
            border-style: solid;
            height: 100px;
            
        
        }
        .grid a:hover {
            color: #ffffff;
            text-shadow: 0 0 7px #8c8c8c, 0 0 10px #474747, 0 0 21px #888888,
              0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255),
              0 0 151px rgb(255, 255, 255);
          }
        .item1{
            grid-column: 1/2;
          }
          .grid img{
              width: 100px;
             
          }
          .grid{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .item2 input{
          width: 80px;
          grid-column: 2/3;
          }
          .item2 input:hover{
            width: 120px;
          }
          .itemimgg{
            display: none;
          }
          .item3{
            grid-column: 3/4;
          }
          .item4{
            grid-column: 4/5;
          }
          .item5{
            grid-column: 5/6;
          }
          .item6{
            grid-column: 6/7;
          }
          .item7{
            grid-column: 7/8;
          }
          .grid a{
            color: white;
            text-decoration: none;
          }
        
        .item1 img{
        width: 80px;
        }
        .itemimgg img{
            width: 60px;
        }
        .item2 input {
            height: 30px;
            width: 190px;
            border-radius: 20px;
            border: none;
            transition-duration: 0.3s;
            cursor: text;
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
            list-style: none;
          }
        
          .item2 input:placeholder-shown {
            border-color: rgb(255, 255, 255);
            color: rgb(235, 235, 235, 0.5);
            font-family: "Zen Dots", sans-serif;
            font-size: 15px;
          }
          .item2 input:hover{
            width: 220px;
          }
          .quieres h1{
            color: #fff;
            margin-top: 90px;
            margin-left: 30px;
            font-size: 20px;
            display: none;
          }
          .quieres p{
            color: #fff;
            margin-top: 90px;
            margin-left: 30px;
            font-size: 15px ;
            display: none;
          }
          .form-register {
            width: 340px;
            background: rgba(73, 73, 73, 0.392);
            padding: 30px;
            margin: auto;
            margin-top: 100px;
            border-radius: 4px;
            font-family: "Zen Dots", sans-serif;
            color: white;
            box-shadow: 4px 4px 4px #1c1c1c;
            height: 650px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          
          .form-register h4 {
            font-size: 22px;
            margin-bottom: 20px;
          }
          
          
          .controls {
            width: 95%;
            background: rgba(255, 0, 0, 0.235);
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #000000;
            font-family: "Zen Dots", sans-serif;
            font-size: 15px;
            color: white;
            
            
          } 
          .form-register p {
            height: 40px;
            text-align: center;
            font-size: 18px;
            line-height: 40px;
          }
          
          .form-register a {
            color: white;
            text-decoration: none;
          }
          
          .form-register a:hover {
            color: white;
            text-decoration: underline;
          }
          
          .form-register .botons {
            width: 100%;
            background: #d41f1fc6;
            border: none;
            padding: 12px;
            color: white;
            margin: 16px 0;
            font-size: 16px;
          }
          .fin3 img{
            display: none;
          }
          .container5 {
            width: 100%;
            height: 200px;
            display: flex;
            border: none;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.9),rgb(9, 9, 9)),
              url(../proyecto/imagenesproyecto/DRAGONBORN2.jpg) no-repeat center center;
            margin: 0 auto;
            
            font-size: 11px;
          }
        
          .fin2 {
            width: auto;
            height: 60px;
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
          }
          .fin2 a{
            color: white;
            text-decoration: none;
          }
          
          .fin2 li{
            list-style-type: none;
            
          }
          .finall{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
          }
          .finall a{
           
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 10px;
            
          }
          footer h3 a{
            margin: 0 auto;
            width: 100px;
            color: #ffffff;
          }
          .ultimo{
            width: 90%;
            display: flex;
            margin: 30px auto;
            
          }
          .ultimo p{
            font-size: 30p;
          }
          .container2{
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
          }
          .it2{
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            
          }
          .it1{
            grid-column: 2/3;
            grid-row: 1/2;
            
          }
          .it2 h1{
            margin: 15px;
            font-size: 25px;
          }
          .it2 p{
            margin: 20px;
            font-size: 18px;
          }
          .ultimo li a{
            font-size: 17px;
          }
          .header{
            display: none;
        }
        #soloCel{
          display: none;
        }
        #hamburguer{
          display: none;
        }
        #menuHamburguesa{
          display: none;
        }
        
        
        }